---
headline: "Headline"
---

<h2>{{{headline}}}</h2>

<fieldset>
  {{#block "primary"}}
      <legend>default content primary inner</legend>
      <p>empty</p>
  {{/block}}
</fieldset>

<fieldset>
  {{#block "secondary"}}
      <legend>default content secondary inner</legend>
      <p>empty</p>
  {{/block}}
</fieldset>


